server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sec-user-ms
    username: postgres
    password: 2828
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      jdbc:
        lob:
          non_contextual_creation: true

    properties:
      hibernate:
        show_sql: true


